<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>PrimeFaces Hello World Example</title>
</h:head>

<h:body>
    <h:form id="basicuser-form">

        <p:panel header="Basic User CRUD">
            <h:panelGrid columns="2" cellpadding="4">
                <h:outputText value="First Name: "/>
                <p:inputText id="first-name" value="#{basicUser.firstName}"/>

                <h:outputText value="Last Name: "/>
                <p:inputText id="last-name" value="#{basicUser.lastName}"/>

                <p:commandButton value="add" action="#{simpleCrudBean.add}"/>
            </h:panelGrid>
        </p:panel>
        <p:dataTable value="#{basicUser.list()}" var="item">
            <p:column><f:facet name="header">ID</f:facet>#{item.id}</p:column>
            <p:column><f:facet name="header">First Name</f:facet>#{item.firstName}</p:column>
            <p:column><f:facet name="header">Last Name</f:facet>#{item.lastName}</p:column>

        </p:dataTable>
        <p:dialog header="Greeting" widgetVar="greetingDialog"
                  modal="true" resizable="false">
            <h:panelGrid id="greeting-panel" columns="1" cellpadding="4">
                <h:outputText value="#{basicUser.showGreeting()}"/>
            </h:panelGrid>
        </p:dialog>

    </h:form>
</h:body>
</html>